body {
  background-color: #302E2D;
  overflow-x: hidden; }

.home_container {
  display: flex;
  margin: auto;
  background-color: #302E2D;
  width: 100%;
  align-items: center;
  justify-content: center; }

.cardbox {
  width: 25rem;
  margin-left: 4rem; }

.card {
  height: 13rem;
  color: #FFF5F0;
  padding-bottom: 4rem;
  overflow: hidden;
  margin: 1rem;
  margin-bottom: 2.5rem; }

.card h3 {
  text-align: center; }

.cardbody {
  overflow: hidden; }

.card_image {
  display: block;
  width: 16rem;
  padding-left: 1.0rem; }

.card_image:hover {
  animation: skew2 .7s; }

.home_container img {
  width: 55%;
  margin-left: 2rem; }

.banner {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #C74A37;
  padding: 2rem; }

.offerbox {
  margin: auto;
  background-color: #E0D90B;
  width: 25rem;
  text-align: center;
  padding: 1rem; }

@media only screen and (max-width: 1200px) {
  .card {
    height: 10rem; }

  .card_image {
    padding-left: .2rem; } }
@media only screen and (max-width: 800px) {
  .home_container {
    display: block;
    width: 100%; }

  .home_container > img {
    width: 80%; }

  .card {
    height: 25rem; }

  .cardbox {
    width: 100%;
    margin-left: 0; }

  .card_image {
    width: 100%;
    padding-left: 4rem; }

  .card h3 {
    text-align: center; }

  .banner {
    margin-top: 10%; }

  .offerbox {
    margin-left: 10.5%; } }
@media only screen and (max-width: 600px) {
  .card {
    height: 27rem;
    margin-bottom: -10rem; }

  .home_container > img {
    width: 100%;
    margin-left: 0; }

  .banner {
    width: 100%;
    margin-top: 10%; }

  .offerbox {
    width: 98%;
    margin-left: -13%; } }
@media only screen and (max-width: 400px) {
  .card {
    height: 23rem;
    margin-bottom: -10rem; }

  .home_container > img {
    width: 100%;
    margin-left: 0; }

  .banner {
    width: 100%;
    margin-top: 10%; }

  .offerbox {
    width: 98%;
    margin-left: -13%; } }
@keyframes grow {
  from {
    transform: scale(1); }
  to {
    transform: scale(2.03); } }
@keyframes skew {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(3deg); } }
@keyframes skew2 {
  0% {
    transform: rotateZ(0deg); }
  25% {
    transform: rotateZ(1.18deg); }
  50% {
    transform: rotateZ(-1.18deg); }
  100% {
    transform: rotateZ(0deg); } }
.menu-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "category0 menudrink category1" "category2 menudrink category3"; }

.category0 {
  grid-area: category0;
  text-align: right;
  margin-right: 4rem; }

.category1 {
  grid-area: category1;
  text-align: left; }

.category2 {
  grid-area: category2;
  text-align: right;
  margin-right: 4rem; }

.category3 {
  grid-area: category3;
  text-align: left; }

.menu-title {
  text-align: center;
  color: #FFF5F0; }

.category-title {
  color: #C74A37; }

.category-title1 {
  text-align: left;
  margin-left: 2.4rem; }

.category-title3 {
  text-align: left;
  margin-left: 2.4rem; }

.category-title {
  font-size: 2rem; }

.menu-item {
  list-style: none;
  margin-top: 1rem;
  color: #FFF5F0;
  font-size: 1.5rem; }

.menu-container {
  background-color: #302E2D;
  height: 100%;
  width: 100%; }

.menu-drink {
  grid-area: menudrink;
  align-self: center;
  justify-self: center;
  height: 90%; }

@media only screen and (max-width: 1000px) {
  .menu-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "category0 category1" "category2 category3" "menudrink menudrink"; } }
.story {
  background-color: #302E2D;
  color: #FFF5F0;
  padding-top: 1rem;
  overflow-y: hidden; }

.story-grid-text > h1 {
  color: #C74A37; }

.story-grid {
  display: grid;
  margin: 3rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "story-text  story-image"; }

.story-grid-text {
  margin-right: 2rem;
  align-self: center;
  grid-area: story-text;
  font-size: 1.5rem; }

.story-img {
  grid-area: story-image;
  width: 100%; }

.story_menu_list {
  display: flex;
  list-style: none; }

.story_menu_item {
  padding: 1rem;
  border-left: 1px #FFF5F0; }
  .story_menu_item button {
    color: #FFF5F0;
    background-color: #302E2D;
    border: none;
    font-size: 1.2rem; }

@media only screen and (max-width: 1000px) {
  .story-grid {
    display: grid;
    margin: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "story-text" "story-image"; }

  .story-grid-text {
    align-self: top;
    grid-area: story-text;
    font-size: 1.5rem; }

  .story {
    padding-bottom: 10%; } }
.navbar {
  display: flex; }

.navlist {
  display: flex;
  list-style: none; }

.navbrand {
  padding-left: 1rem;
  margin-top: 2rem;
  font-size: 1.7rem;
  color: #FFF5F0; }

.nav-item {
  padding: 1rem; }
  .nav-item button {
    background-color: #302E2D;
    border: None;
    color: #FFF5F0;
    font-size: 1.5rem; }

/*# sourceMappingURL=App.css.map */
