$primary-color:#FFF5F0;
$secondary-color:#302E2D;
$secondary-color2:#4F4B46;
$primary-red-color:#C74A37;
$offerbox-color:#E0D90B;



body{
	background-color:$secondary-color ;
  overflow-x:hidden;
}
.home_container{
	display:flex;
  margin:auto;
  background-color:$secondary-color;
  width:100%;
  align-items:center;
  justify-content:center;

}
.cardbox{
	width:25rem;
   background-color:$secondary-color2;
   margin-left:5%;
   margin-bottom:1%;

}
.card{
  height:13rem;
  color:$primary-color;
  padding-bottom: 4rem;
  overflow:hidden;


  margin-bottom:2.5rem;
 
}

.card h3{
  text-align:center;
}



.card-grid{
  width:100%;
  display:grid;

  grid-template-columns:1fr;
  grid-template-rows:1fr 1fr;
  grid-template-areas:
  "card-title"
  "card-image";
}
.card-title{
grid-area:card-title;
  
}
.card_image{
  width:16rem;
  grid-area:card-image;
  justify-self:center;
  padding-right:2rem;
}
.card_image:hover{
  animation:grow .7s;
}

.home_container img{
  width:55%;
  margin-left:2rem;
}



.banner{
  width:100%;
  margin:auto;
  text-align:center;
  background-color:$primary-red-color;
  padding:2rem;
  }
.offerbox{
  margin:auto;
  background-color:$offerbox-color;
  width:25rem;
  text-align:center;
  padding:1rem;
  }
@media only screen and (max-width: 1200px) {
.card{
  height:10rem;
  padding-bottom:8rem;
}

}

@media only screen and (max-width: 800px) {
  .home_container{
    display:block;
    width:100%;

  }

.home_container > img{
  width:80%;
  margin-left:4rem;

}
.card {
  height:25rem;
  padding-bottom:2rem;
}
.cardbox{
  width:100%;
  margin-left:0;

}
.card_image{
  width:100%;
  
}
.card h3{
  text-align:center;
}
.banner{
  margin-top:10%
}
.offerbox{
  margin-left:10.5%;
}
}
@media only screen and (max-width: 600px) {
.card {
  height:23rem;
}
.card_image{
  margin-top:-4rem;
}
.home_container > img{
  width:100%;
  margin-left:0;
  }
.banner{
width:100%;
margin-top:10%;
}
.card{
  margin-bottom:2%;
}
.offerbox{
width:98%;
margin-left:-13%;
}
  
}
@media only screen and (max-width: 400px) {
.card {
  height:13rem;
}
.home_container > img{
  width:100%;
  margin-left:0;
  }
.banner{
width:100%;
margin-top:10%;
}
.offerbox{
width:98%;
margin-left:-13%;

}
  
}

@keyframes grow {
  from {
    transform: scale(.95);
  }
  to {
    transform: scale(1);
  }
}
@keyframes skew {
  from {
    transform:rotateZ(0deg)
  }
  to {
  transform:rotateZ(3deg)
    
  }
}
@keyframes skew2 {
  0%   {transform:rotateZ(0deg)}
  25%   {transform:rotateZ(1.18deg)}
  50%  {transform:rotateZ(-1.18deg)}
  
  100% {transform:rotateZ(0deg)}
}
.menu-grid{
  width:100%;
  display:grid;
  grid-template-columns:35% 30% 35%;
  grid-template-rows:1fr 1fr;
  grid-template-areas:
  "category0 menudrink category1"
  "category2 menudrink category3";

 
}
.category0{
  grid-area:category0;
  text-align:right;
  margin-right:4rem;
}
.category1{
  grid-area:category1;
  text-align:left;
}
.category2{
  grid-area:category2;
  text-align:right;
  margin-right:4rem;
}
.category3{
  grid-area:category3;
  text-align:left;
}
.menu-grid > ul{
 
}
.menu-title{
  text-align:center;
  color:$primary-color;
}
.category-title{
  color:$primary-red-color;
}
.category-title1{
  text-align:left;
  margin-left:2.4rem;
}
.category-title3{
  text-align:left;
  margin-left:2.4rem;
}
.category-title{
  font-size:2rem;
}
.menu-item{
  list-style:none;
  margin-top:1rem;
 color:$primary-color;
 font-size:1.5rem;

}
.menu-container{
  background-color:$secondary-color;
  height:100%;
  width:100%;

}
.menu-drink{
grid-area:menudrink;
align-self:center;
justify-self:center;
  height:90%;

}
@media only screen and (max-width: 1000px) {
.menu-grid{
  width:100%;
  display:grid;
  grid-template-columns:50% 50%;
  grid-template-rows:1fr 1fr 1fr;
  grid-template-areas:
  "category0 category1"
  "category2 category3"
  "menudrink menudrink";

 
}
  
}
.story{
  background-color:$secondary-color;
  color:$primary-color;
  padding-top:1rem;
  overflow-y:hidden;
}
.story-grid-text >h1{
  color:$primary-red-color
}
.story-grid{
  display:grid;
  margin:3rem;
  grid-template-columns:3fr 1fr;
  grid-template-rows:1fr;
   grid-template-areas:
  "story-text  story-image";
}
.story-grid-text{
  margin-right:2rem;
  align-self:center;
  grid-area:story-text;
  font-size:1.5rem;
}
.story-img{
   grid-area:story-image ;
   width:100%;
}
.story_menu_list{
  display:flex;
  list-style:none;

}
.story_menu_item{
  padding:1rem;
  border-left:1px  $primary-color;
  button{
  color:$primary-color;
  background-color:$secondary-color;
  border:none;
  font-size:1.2rem;
  }
}
@media only screen and (max-width: 1000px) {
.story-grid{
  display:grid;
  margin:3rem;
  grid-template-columns:1fr;
  grid-template-rows:1fr 1fr;
   grid-template-areas:
  "story-text" "story-image";
}
.story-grid-text{

  align-self:top;
  grid-area:story-text;
  font-size:1.5rem;
}
.story{
  padding-bottom:10%;
  }
}

.navbar{
  display:flex
}
.navlist{
display:flex;
  list-style:none;
}
.navbrand{
  padding-left:1rem;
  margin-top:2rem;
  font-size:1.7rem;
  color:$primary-color;
}
.nav-item{
  margin:0;
  padding:0;
  padding-top:1.0rem;

}
.nav-item  a{
  
  padding:.5rem 1rem 0.5rem 1rem;
  border:None;
  color:$primary-color;
  font-size:1.5rem;
  
}
.nav-item :hover {
background-color:$secondary-color2;
  }
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.toggle-button{
  position:absolute;
  top:.75rem;
  right: 1rem;
  display: none;
  flex-direction:column;
  justify-content:space-between;
  width:30px;
  height:21px;
}
.toggle-button .bar{
  height:3px;
  width:100%;
  background-color:$primary-color;
  boder-radius: 10px;
}
@media (max-width:600px){
  .toggle-button {
  display: flex;
  }
  .navlist{
  display:none;
  width:100%;
  }
  .navbar{
  flex-direction:column;
  align-items:flex-start;
  }
  .navbar ul{
    width:100%;
    flex-direction:column;
  }
  .navlist li{
  text-align:center;
  }
  .navlist.active{
  display:flex;
  }

}

.about-title{
  color:$primary-red-color;
  text-align:center;
}
.about-text-para{
  color:$primary-color;
}
.about-text{
  display:flex;
  flex-direction:column;
  margin:3%;
}
.about-image{
  width:75%;
  justify-self:center;
  margin:auto;
}
