$primary-color:#FFF5F0;
$secondary-color:#302E2D;
$secondary-color2:#595654;
$primary-red-color:#C74A37;
$offerbox-color:#E0D90B;



body{
	background-color:$primary-color ;
  overflow-x:hidden;
}
.home_container{
	display:flex;
  margin:auto;
  background-color:$secondary-color;
  width:100%;
  align-items:center;
  justify-content:center;

}
.cardbox{
	width:25rem;
  margin-left:4rem;

}
.card{
  height:13rem;
  color:$primary-color;
  padding-bottom: 4rem;
  overflow:hidden;
  margin:1rem;

  margin-bottom:2.5rem;
 
}

.card h3{
  text-align:center;
}
.cardbody{
  overflow:hidden;
}
.card_image{
  display:block;
  width:16rem;
  padding-left:2.2rem;
}
.card_image:hover{
  animation:skew2 .7s;
}
.home_container img{
  width:60%;
  margin-left:2rem;
}



.banner{
  width:100%;
  margin:auto;
  text-align:center;
  background-color:$primary-red-color;
  padding:2rem;
  }
.offerbox{
  margin:auto;
  background-color:$offerbox-color;
  width:25rem;
  text-align:center;
  padding:1rem;
  }

@media only screen and (max-width: 800px) {
  .home_container{
    display:block;
    width:100%;

  }

.home_container > img{
  width:80%;


}
.card {
  height:25rem
}
.cardbox{
  width:100%;
  margin-left:0;

}
.card_image{
  width:100%;
  padding-left:4rem;
  
}
.card h3{
  text-align:center;
}
.banner{
  margin-top:-10%
}
.offerbox{
  margin-left:10.5%;
}
}
@media only screen and (max-width: 600px) {
.card {
  height:27rem;
  margin-bottom:-10rem;
}
.home_container > img{
  width:100%;
  margin-left:0;
  }
.banner{
width:100%;
}
.offerbox{
width:98%;
margin-left:-13%;
}
  
}
@media only screen and (max-width: 400px) {
.card {
  height:23rem;
  margin-bottom:-10rem;
}
.home_container > img{
  width:100%;
  margin-left:0;
  }
.banner{
width:100%;
}
.offerbox{
width:98%;
margin-left:-13%;

}
  
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.03);
  }
}
@keyframes skew {
  from {
    transform:rotateZ(0deg)
  }
  to {
  transform:rotateZ(3deg)
    
  }
}
@keyframes skew2 {
  0%   {transform:rotateZ(0deg)}
  25%   {transform:rotateZ(3deg)}
  50%  {transform:rotateZ(-3deg)}
  
  100% {transform:rotateZ(0deg)}
}
.menu-grid{
  width:100%;
  display:grid;
  grid-template-columns:35% 30% 35%;
  grid-template-rows:1fr 1fr;
  grid-template-areas:
  "category0 menudrink category1"
  "category2 menudrink category3";

 
}
.category0{
  grid-area:category0;
  text-align:right;
  margin-right:4rem;
}
.category1{
  grid-area:category1;
  text-align:left;
}
.category2{
  grid-area:category2;
  text-align:right;
  margin-right:4rem;
}
.category3{
  grid-area:category3;
  text-align:left;
}
.menu-grid > ul{
 
}
.menu-title{
  text-align:center;
  color:$primary-color;
}
.category-title{
  color:$primary-red-color;
}
.category-title1{
  text-align:left;
  margin-left:2.4rem;
}
.category-title3{
  text-align:left;
  margin-left:2.4rem;
}
.category-title{
  font-size:2rem;
}
.menu-item{
  list-style:none;
  margin-top:1rem;
 color:$primary-color;
 font-size:1.5rem;

}
.menu-container{
  background-color:$secondary-color;
  height:100%;
  width:100%;

}
.menu-drink{
grid-area:menudrink;
align-self:center;
justify-self:center;
  height:90%;

}
@media only screen and (max-width: 1000px) {
.menu-grid{
  width:100%;
  display:grid;
  grid-template-columns:50% 50%;
  grid-template-rows:1fr 1fr 1fr;
  grid-template-areas:
  "category0 category1"
  "category2 category3"
  "menudrink menudrink";

 
}
  
}
.story{
  background-color:$secondary-color;
  color:$primary-color;
  padding-bottom:40%;
  overflow-y:hidden;
}
.story-grid-text >h1{
  color:$primary-red-color
}
.story-grid{
  display:grid;
  grid-template-columns:3fr 1fr;
  grid-template-rows:1fr;
   grid-template-areas:
  "story-text  story-image";
}
.story-grid-text{
  align-self:center;
  grid-area:story-text;
  font-size:1.5rem;
}
.story-img{
   grid-area:story-image ;
   width:100%;
}